<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<title>Annual Days</title>
	<style type="text/css">
		body{
			background-color: #EAEAEA;
		}
		#main{
			height: 500px;
			width: 1000px;
			background-color: white;
			border-color: 1px #707070;
			border-style: groove;

		}
		.navbar-inverse{
			background-color: #FF0000;
		}
		ul{
			list-style-type: none;
		}
		p{
			font-size: 20px;
			font-style:oblique;
		}
	</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index/" style="color: white">EventMind</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/about/" style="color: white">About us</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white">Services <span class="caret"></span></a>
        <ul class="dropdown-menu">
         
      				
      					<li><a href="/wedding/" >Wedding</a></li>
      					<li><a href="/birthday/" >Birthday</a></li>
      					<li><a href="/surprise/" >Suprise Events</a></li>
      					<li><a href="/product/" >Product launches</a></li>
      				
      					<li><a href="/theme/" >Theme Events</a></li>
      					<li><a href="/retirements/" >Retirements</a></li>
      					<li><a href="/annual/" >Annual Days</a></li>
      				</ul>
      			
      		
       
      </li>
      <li><a href="/gallery/" style="color: white">Gallery</a></li>
      <li><a href="/contact/" style="color: white">Contact us</a></li></ul>
   <ul class="nav navbar-nav navbar-right">
      <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span>Admin Log in</a></li>
    </ul>
  </div>

</nav>
<center><h1>Annual Days</h1>
<div id="main">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Aenean commodo lorem sed augue rhoncus, non efficitur dui egestas. 
		Mauris faucibus nulla nec porta porta. Ut a dolor velit. 
		Morbi lacinia metus at lorem euismod iaculis. Fusce efficitur dolor ac iaculis ultricies. 
		Mauris tempor augue tortor. Vestibulum a bibendum nunc. 
		Pellentesque imperdiet ex arcu, eget viverra arcu dapibus vestibulum. 
		Vivamus quis lectus odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
		Phasellus tempus, erat id pharetra malesuada, metus diam hendrerit diam, non posuere ligula eros vel augue. 
		Praesent nulla odio, vestibulum id placerat vel, sollicitudin sit amet metus
		Nullam tempor eros nec eros venenatis, sit amet efficitur risus euismod. 
		Morbi dapibus pharetra tellus, at maximus magna ornare id. Mauris faucibus volutpat varius. 
		Aliquam nec sapien quis felis vehicula tempus.</p>
		<br><br>
	<a href="/booking/"><button>Book now</button></a>
</div></center>
</body>
</html>